<div class="table-responsive-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">KUR</th>
                <th>Alış</th>
                <th>Satış</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td class="flag"><img src="assets/flag/{{item.icon}}.svg" alt=""></td>
                <td style="width: 100%">{{item.name}}</td>
                <td>{{item.sale}}</td>
                <td>{{item.buy}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- and table responsive div -->